<!Doctype HTML>
<html>
    <head>
    	<link href="CSS/FE3.css" type="text/css" rel="stylesheet">
        
        <style>
         table, th, td {
            border: 1px solid black;
         }
      </style>
    </head>
    <body>
  <div class="fr1">
     <form>
  <label for="fname" class="h2">Color:</label><br>
  <input type="text" id="cl" name="cl"><br>

  <label for="lname" class="h2">Name:</label><br>
  <input type="text" id="nm" name="nm"><br>
  <label for="lname" class="h2">Type:</label><br>
  <input type="text" id="tp" name="tp"><br><br>

  <button type="button">Add Cloth</button> 

</form> 
  </div>
        
  <div class="tb1">

   <TABLE class ="table" BORDER="5"    WIDTH="100%"   CELLPADDING="20" CELLSPACING="0">
   <TR>
      <TH   class="h1" COLSPAN="4"><BR><H3>Cloth</H3>
      </TH>
   </TR>
   <TR>
      <TH class="h2">ID</TH>
      <TH class="h2">Color</TH>
      <TH class="h2">Name</TH>
      <TH class="h2">Type</TH>
   </TR>
   <TR ALIGN="CENTER">
      <TD class="h3">1</TD>
      <TD class="h3">Red</TD>
      <TD class="h3">Lekra</TD>
      <TD class="h3">Jolio</TD>
   </TR>
   <TR ALIGN="CENTER">
      <TD class="h3">2</TD>
      <TD class="h3">Blue</TD>
      <TD class="h3">Zara</TD>
      <TD class="h3">Blbaa</TD>
   </TR>
   <TR ALIGN="CENTER">
      <TD class="h3">3</TD>
      <TD class="h3">Violet</TD>
      <TD class="h3">H.M</TD>
       <TD class="h3">Homos</TD>
   </TR>
   <TR ALIGN="CENTER">
      <TD class="h3">4</TD>
      <TD class="h3">Green</TD>
      <TD class="h3">Breska</TD>
      <TD class="h3">Kalbaz</TD>
   </TR>
  </TABLE>
</div>

    </body>
</html>