<!Doctype HTML>
<html>
    <head>
    	<link href="CSS/FE3.css" type="text/css" rel="stylesheet">
        
        <style>
         table, th, td {
            border: 1px solid black;
         }
      </style>
    </head>
    <body>
  <div class="fr1">
     <form>
  <label for="fname" class="h2">Description:</label><br>
  <input type="text" id="dsc" name="dsc"><br>

  <label for="lname" class="h2">width:</label><br>
  <input type="text" id="wd" name="wd"><br>
  <label for="lname" class="h2">length:</label><br>
  <input type="text" id="ln" name="ln"><br><br>

  <button type="button">Add Patron</button> 
</form> 
  </div>
        
  <div class="tb1">

   <TABLE class ="table" BORDER="5"    WIDTH="100%"   CELLPADDING="20" CELLSPACING="0">
   <TR>
      <TH   class="h1" COLSPAN="4"><BR><H3>Patron</H3>
      </TH>
   </TR>
   <TR>
      <TH class="h2">ID</TH>
      <TH class="h2">Width</TH>
      <TH class="h2">Description</TH>
      <TH class="h2">length</TH>
   </TR>
   <TR ALIGN="CENTER">
      <TD class="h3">Data 1</TD>
      <TD class="h3">Data 2</TD>
      <TD class="h3">Data 3</TD>
      <TD class="h3">Data 4</TD>
   </TR>
   <TR ALIGN="CENTER">
      <TD class="h3">Data 1</TD>
      <TD class="h3">Data 2</TD>
      <TD class="h3">Data 3</TD>
      <TD class="h3">Data 4</TD>
   </TR>
   <TR ALIGN="CENTER">
      <TD class="h3">Data 1</TD>
      <TD class="h3">Data 2</TD>
      <TD class="h3">Data 3</TD>
      <TD class="h3">Data 4</TD>
   </TR>
   <TR ALIGN="CENTER">
      <TD class="h3">Data 1</TD>
      <TD class="h3">Data 2</TD>
       <TD class="h3">Data 3</TD>
      <TD class="h3">Data 4</TD>
   </TR>
  </TABLE>
</div>

    </body>
</html>