body{
    background-image: url(img1.jpg);
    background-size: cover;     
}
.table{
    position: relative;
    
    height: 200px;
    width: 100%;


}
.row1{
	width: 100%;
}
.table{
	border-width: 0px;
	border-style: solid;
	border-color: black;
	border-width: 10px;

}
.h1{
	font-style: italic;
	font-size: 30px;
	color: white;
	border-width: 5px;
}
.h2{
	font-style: italic;
	font-size: 20px;
	color: white;
	border-width: 3px;
}
.h3{
	font-style: italic;
	font-size: 15px;
	color: white;
	border-width: 3px;
}

.adminbutton{
	  display: inline-block;
	  width: 100px;
	  height: 40px;
	  text-align: center;
	  border: gray;
	  background-color: #4CAF50;
	  color: #fff;
	  cursor: pointer;
	  font-weight: bold;
	  margin: 15px;
	  opacity: 0.9;
}

.navitem {
	display: inline-block;
	width: 100px;
	height: 40px;
	text-align: center;
	border: gray;
	background-color: #E8562A;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
	margin: 15px;
}

table, th, td {
	border: 1px solid black;
 }

.relative {
	background-color: #fff;
	margin: auto;
	width: 80%;
	 /* border: 3px solid green; */ 
	padding: 10px;
	position: relative;
}