.remove{
	position: relative;
        float: left
}


.b1{
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      border: none;
      cursor: pointer;
      opacity: 0.9;
}
